@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
}

<h3>@ViewData["Title"]</h3>
<div class="col-lg-6 text-grey mt-3">
    <partial name="_StatusMessage" for="StatusMessage" />
    <form id="change-password-form" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-floating mb-2">
            <input asp-for="Input.OldPassword" class="form-control" aria-required="true" placeholder="Old Password" />
            <label asp-for="Input.OldPassword" class="form-label"></label>
            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
        </div>
        <div class="form-floating mb-2">
            <input asp-for="Input.NewPassword" class="form-control" aria-required="true" placeholder="New Password"/>
            <label asp-for="Input.NewPassword" class="form-label"></label>
            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
        </div>
        <div class="form-floating mb-2">
            <input asp-for="Input.ConfirmPassword" class="form-control" aria-required="true" placeholder="Confirm Password" />
            <label asp-for="Input.ConfirmPassword" class="form-label"></label>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="w-100 btn btn btn-info fw-bold">Update password</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@*
    @using WhatHaveYouPlayed.Models.Dto
@model AccountDto
@{
    Layout = "/Views/Shared/_LayoutOverview.cshtml";
}
<div class="col-lg-6">
    <form asp-action="ChangePassword" asp-controller="Account" method="post">

        <input name="OldPassword" aria-required="true" type="password" class="form-control mb-2" placeholder="Old Password">
        <input name="NewPassword" aria-required="true" type="password" class="form-control mb-2" placeholder="New Password">
        <input name="ConfirmPassword" aria-required="true" type="password" class="form-control mb-2" placeholder="Confirm Password">

        <button type="submit" class="btn btn-info">Change Password</button>
    </form>
</div>

*@