@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h1>@ViewData["Title"]</h1>
<h2>Contact to the administrators.</h2>
<hr />
<div class="row">
    <div class="col-md-8">
        <h3>Send email to address: bartzieba6@gmail.com</h3>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
